// This file must be imported before loading html5-boilerplate

// base
$body-background: #f0f0f0;
$line-height: 1.4 !default;
$font-color: #333333 !default;

$link-color: #0088cc !default;
$link-hover-color: #005580 !default;
$link-visited-color: #0088cc !default;

$selected-font-color: #fff !default;
$selected-background-color: #ff5e99 !default;

$invalid-background-color: #f0dddd !default;

$top-panel-background: #0f67a1;
//$nav-1stlevel-background: #000000;
$nav-1stlevel-background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(40%, #181818), color-stop(100%, #000000));
$nav-1stlevel-background-gecko: -moz-linear-gradient(top, #585858, #181818, #000000);


$nav-2ndlevel-background: #0f67a1;


$table-background-color: #3f92d2;
$table-row-background-color: #e6eeee;
$table-row-odd-background-color: #cbd9e0;

$form-background-color: #c6ceeb;
$form-background-color: #6b90d4;
$form-border-color: #e3ebc3;
