// This file must be imported before loading html5-boilerplate

// base
$body-background: #f0f0f0;
$line-height: 1.4 !default;
$font-color: #333333 !default;
$font-size: 14px;
$fomt-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;


$link-color: #0088cc !default;
$link-hover-color: #005580 !default;
$link-visited-color: #0088cc !default;

$selected-font-color: #fff !default;
$selected-background-color: #ff5e99 !default;

$invalid-background-color: #f0dddd !default;

$top-panel-background: #0f67a1;
$nav-1stlevel-background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(40%, #181818), color-stop(100%, #000000));
$nav-1stlevel-background-gecko: -moz-linear-gradient(top, #585858, #181818, #000000);

$tab-selected-background: $nav-1stlevel-background;
$tab-selected-background-gecko: $nav-1stlevel-background-gecko;

$nav-2ndlevel-background: #0f67a1;


$table-background-color: #3f92d2;
$table-row-background-color: #e6eeee;
$table-row-odd-background-color: #cbd9e0;

// forms
$formbackgroundcolor: #6b90d4;
$form-border-color: #e3ebc3;
$formBorderColor: #e3ebc3;
$formBorderRadius: 3px;


$button-negative-color: #ff0000;
$buttonNegativeFontcolor: #ff0000;

$input-placeholder-color: #808080;
$inputPlaceholderColor: #808080;

$font-color-error: #ff0000;
$fontColorError: #ff0000;
$font-color-input-notice: #ffa500;
$fontColorInputNotice: orange;
$color-inputs-notice: #ffa500;
$font-color-toppanel: #ffffff;

$container-background-color: #fbfbfb;
$container-background-gradient-1: #ffffff;
$container-background-gradient-2: #f5f5f5;
$container-border-color: #dddddd;
$container-box-shadow-color: #ffffff;


$response-dialog-bgcolor: #ffffff;
$response-dialog-bordercolor: #336699;

$btn1bgcolor: #080808;
$btn1bgcolortop: #075b82;
$btn1bgcolordown: #3a6580;
$btn1color: #ededed;
$btn1bordercolor: #006a7d;
