@import "blueprint/buttons";
form {
       counter-reset: fieldsets;
   	background: lighten($form-background-color,10%);
	border-radius: 3px;
        -khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 20px;
	width: auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        fieldset {
            border: none;
            margin-bottom: 10px;
        }
           fieldset:last-of-type {
           margin-bottom: 0;
        }
        legend.on:before{
          content:url(../images/icons/control-270.png);
          margin-right: 7px;
          float: left;
       }
       legend.off:before{
          content:url(../images/icons/control.png);
          margin-right: 7px;
          float: left;
       }
       label {
          display: block;
          float: left;
          padding-right: 10px;
          //text-align: right;
          min-width: 40%;
       }
       textarea {
          width: auto;
       }
       ol li {
                background: lighten($form-background-color,20%);
        border-color: $form-border-color;
        border-style: solid;
        border-width: 1px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -khtml-border-radius: 3px;
        border-radius: 3px;
        list-style: none;
       /* padding: 5px 10px;*/

        margin-bottom: 5px;
        padding: 10px;
            }
      
        ol ol li {
        background: none;
        border: none;
        float: left;
    }
       input[type='text'],input[type='email'],input[type='password'],input[type='file']{
        

        border: 1px solid;
        height: 1.5em;
        line-height: 1em;
        margin-left: 6px;
        margin-top: 5px;
        padding: 0px 3px;
        width: 50%;
        min-width: 194px;
        width: auto;
        border-radius: 3px;
        -khtml-border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }
      textarea {
        border: 1px solid;
        line-height: 1em;
        margin-left: 6px;
        padding: 0px 3px;
        width: 50%;
        min-width: 194px;
        border-radius: 3px;
        -khtml-border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;


     }
    div.error {
       color: red;
       font-weight: bolder;
    }
    input.acsindex {
        min-width:2px;
        width: 10px;
        margin-left: 5px;
    }
    input.acsurl {
        margin-right: 5px;
    }
    div.buttons {
       width: 100%;
       text-align:  center;
       margin: auto;
       span.save:before {
    content:url(../images/buttons/tick.png);
    vertical-align: bottom;
    margin-right: 7px;

}
span.reset:before{
    content:url(../images/buttons/cross.png);
    margin-right: 7px;
}
span.cancel:before{
    content:url(../images/buttons/cross.png);
    margin-right: 7px;
}
span.remove:before{
    content:url(../images/buttons/cross.png);
    margin-right: 7px;
}

       button.btn {
          margin: 10px 10px 0px;
       }
       button.button {
          margin: 10px 10px 10px 10px;
       }
       button.negative {

           color:red;
      }
    }

::-webkit-input-placeholder {
   color: grey;
}

:-moz-placeholder { /* Firefox 18- */
   color: grey;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: grey;  
}

:-ms-input-placeholder {  
   color: grey;  
}

}
form#login {
    font-size: smaller;
    margin-top: 50px;
    margin-bottom: auto;
    background: -moz-linear-gradient(center top , lighten($form-background-color,10%) 92%, darken($form-background-color,0%) 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    legend {
            font-size: x-large;;
           // font-weight: bold;
            font-family: 'PT Serif', serif;
            //font-family: ‘Metrophobic’, Arial, serif; 
                font-weight: 400; 
            border-bottom: dotted 1px black;
            }
    input { 
       padding: 2px;
       margin: 5px;
    }
    label {
       font-weight: bold;
       font-size: larger;

    }
    div.buttons {
       font-size: larger;
       width: 100%;
       text-align:  center;
       margin: auto;
       button.btn {
          margin: 10px 10px 0px;
       }
    }
    

}
form#formver3 {
    padding: 2px 2px 2px 2px;

}
form.geoform {

}
span.geoform {
     text-align: left;
     width: 200px;
    }

form#rejectqueue, form#approvequeue{
    
   display: inline;
   background: transparent;
   border: 0px;
   margin:auto;
   width: auto;
   border-radius: 0px;
   padding: 10px;
   box-shadow: 0 0px 0px;
}
div.permset form {
   background-color: transparent;

}
div#sortable {

        //float: right;
        //display: block;

        overflow: auto;
        span {
            display: block;

            cursor:move;
        }
    }
