@import "blueprint/buttons";
form {
    counter-reset: fieldsets;
    background: $formbackgroundcolor;
    @include border-radius($formBorderRadius, $formBorderRadius);
    padding: 20px;
    width: auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    fieldset {
        border: none;
        margin-bottom: 10px;
    }
    fieldset:last-of-type {
        margin-bottom: 0;
    }
    legend.on:before{
        content:url(../images/icons/control-270.png);
        margin-right: 7px;
        float: left;
    }
    legend.off:before{
        content:url(../images/icons/control.png);
        margin-right: 7px;
        float: left;
    }
    label {
        display: block;
        float: left;
        padding-right: 10px;
        min-width: 40%;
        position:relative;
    }
    textarea {
        width: auto;
    }
    ol li {
        background: $formElementBackground;
        border-color: $formBorderColor;
        border-style: solid;
        border-width: $formElementBorderWidth;
        @include border-radius(2px, 2px);
        list-style: none;
        margin-bottom: 2px;
        padding: 5px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 0px;
        margin-right: auto;
    }
    ol li.localized {
        background: lighten($formbackgroundcolor,15%);
    }
    ol ol {
        margin-left: 0px;
    }
    ol ol li {
        margin-left: 0px;
        margin-right: 5;
        display: block;
        background: $formElement2ndLevelBackground;
        border: 0px;
         @include border-radius(2px, 2px);

        padding: 3px;
        margin-top: 2px;
        width: auto;
        display: block;
        label {
            min-width: 20%;
            
        }
    }
    input[type='text'],input[type='email'],input[type='password'],input[type='file']{
        
        
        border: 1px solid;
        height: 1.5em;
        line-height: 1em;
        margin-left: 6px;
        margin-top: 5px;
        padding: 0px 3px;
        width: 55%;
        min-width: 200px;
        width: auto;
        border-radius: 2px;
        -khtml-border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        
    }
    input[type='checkbox'],input[type='radio'] {
        height: 1.5em;
        margin-top: 5px;
        padding: 0px 3px;
        line-height: 1em;

   }
    
    select {
        max-width: 100%;
        overflow: hidden;
        padding: 0px 3px;
        border: 1px solid;
        @include border-radius(2px, 2px);
 
    }
    textarea {
        border: 1px solid;
        line-height: 1em;
        padding: 0px 3px;
        width: 50%;
        min-width: 194px;
        @include border-radius(2px, 2px);
 
        
    }
    div.error {
        color: $fontColorError;
        font-weight: bolder;
    }
    input.acsurl {
        //  margin-right: 5px;
    }
    div.buttons {
        width: 100%;
        text-align:  center;
        margin: auto;
        span.save:before {
            content:url(../images/buttons/tick.png);
            vertical-align: bottom;
            margin-right: 7px;
            
        }
        span.reset:before{
            content:url(../images/buttons/cross.png);
            margin-right: 7px;
        }
        span.cancel:before{
            content:url(../images/buttons/cross.png);
            margin-right: 7px;
        }
        span.remove:before{
            content:url(../images/buttons/cross.png);
            margin-right: 7px;
        }
        button {
             box-sizing: content-box;
             -moz-box-sizing: content-box;
            cursor: pointer;


         }
        
        button.btn {
            margin: 10px 10px 0px;
        }
        button.button {
            margin: 10px 10px 10px 10px;
        }
        button.negative {
            
            color: $buttonNegativeFontcolor;
        }
    }
    
    ::-webkit-input-placeholder {
        color: $inputPlaceholderColor;
    }
    
    :-moz-placeholder { /* Firefox 18- */
        color: $inputPlaceholderColor;  
    }
    
    ::-moz-placeholder {  /* Firefox 19+ */
        color: $inputPlaceholderColor;  
    }
    
    :-ms-input-placeholder {  
        color: $inputPlaceholderColor;  
    }
    
}
form#login, form#federated {
    font-size: smaller;
    margin-top: 50px;
    margin-bottom: auto;
    background: -moz-linear-gradient(center top , lighten($formbackgroundcolor,10%) 92%, darken($formbackgroundcolor,0%) 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    legend {
        font-size: x-large;;
        font-family: 'PT Serif', serif;
        font-weight: 400; 
        border-bottom: dotted 1px black;
    }
    input { 
        padding: 2px;
        margin: 5px;
    }
    label {
        font-weight: bold;
        font-size: larger;
        
    }
    div.buttons {
        font-size: larger;
        width: 100%;
        text-align:  center;
        margin: auto;
        button.btn {
            margin: 10px 10px 0px;
             box-sizing: content-box;
            -moz-box-sizing: content-box;
            cursor: pointer;
        }
    }
    
    
}
form#login_link {
     background: transparent;
     border: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     box-shadow: none;
     

}
form#arpexlusions {
    label { 
        float: none;
    }   
    input[type='checkbox'] {
        float: left;
        margin-right: 10px;
    }
    
}
form#formver3 {
    padding: 2px 2px 2px 2px;
    
}
form.geoform {
    
}
span.geoform {
    text-align: left;
    width: 200px;
}

form#rejectqueue, form#approvequeue{
    
    display: inline;
    background: transparent;
    border: 0px;
    margin:auto;
    width: auto;
    @include border-radius(0px, 0px);

    padding: 10px;
    box-shadow: 0 0px 0px;
}
div.permset form {
    background-color: transparent;
    
}
li.notice  {
    color: $fontColorInputNotice;


}

input.notice 
{
    color: $fontColorInputNotice;
    
}
li.notice > input, li.notice > select,li.notice > span, div.notice > span 
{
    color: $fontColorInputNotice;
    
}
#formtabs form 
{
    fieldset {
        padding-left: 1px;
        padding-right: 1px;
    }
    
    legend {

        font-size: larger;

        
    }
    fieldset fieldset legend{
        margin-left: 0px;
        background-color: transparent;
        font-size: medium;
        padding: 0px;
        width: auto;
    }
    ol {
        
        padding-left: 0px;
    }
    label {
        font-size: smaller;
        font-weight: bolder;
        display: inline-block;
        float: left;
    }
    input {
        max-width: auto;
        min-width: 400px;
        font-size: smaller;
        display: block-inline;
        margin-right: 2px;
        margin-left: auto;
    }
    input[type="text"].acsindex {
        width: 25px;
        min-width:25px;
        max-width: 25px;
        margin-left: 5px;
        margin-right: auto;
        margin: auto;
        //    background-color: red;
        
    }
    select {
        font-size: smaller;
    }
    span.notice input {
        color: $fontColorInputNotice;
    }
    span.notice select {
        color: $fontColorInputNotice;
    }
    input.notice[type='radio'] {
        background-color: $fontColorInputNotice;
        border: 1px solid $fontColorInputNotice;
        outline: 1px solid $fontColorInputNotice;
    }
    
    textarea.notice {
        margin-top: 5px;
        border: 1px solid $fontColorInputNotice;
        color: orange;
    }
    textarea.certdata {
        font-size: x-small;
        font-family:monospace,Monotype Corsiva, Times, serif;
    }
    textarea.metadata {
            font-size: x-small;
        font-family:monospace,Monotype Corsiva, Times, serif;
            }
    
    div.section {
        text-align: center;
        font-weight: bold;
        font-size: bigger;
        padding: 10px;
        width: 100%;
        
    }
    
    
div.nsortable {
    overflow: auto;
    span {
        input {
           min-width: 10px;
        }
        display: block;
        cursor:move;
    }
}
ul.checkboxlist {
   li {
   line-height: 0.5em;
        white-space: nowrap;
         margin-left: 0px;
         input {
          font-size: smaller;
          min-width: 10px;
       }
    }

}

}
div#sortable, div.nsortable {
    overflow: auto;
    span {
        input {
           min-width: 10px;
           width: 10px;
           max-width: 10px;
        }
        display: block;
        cursor:move;
    }
}

form.cookieconsent {
    
    background-color: transparent;
}

form.ajform {

    background-color: transparent;
    border: 0px;
    padding: 0px;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
    box-shadow: none;

}
form#filter-form {
   float: right;
   padding: 10px;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
    box-shadow: none;
   
}
