@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
html {
    font-size: $font-size;
    font-family: $font-family;
    
}
select, input, textarea {
    background-color: $selectBackground;
    color: $selectColor;
}
body {
    background-color: $bodyBackground;
    color: $font-color;


}
hr {
    height: 1px;
    
}
figcaption {
   font-size: smaller;
   font-weight: normal;

}
//-----------------------------------
// Add your own custom styles below
//-----------------------------------
a {text-decoration: none;}
a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a:hover,
a:active {
    outline: 0;
}

body {
    
}
a, a:link, a:visited {
    color: $linkColor;
    text-decoration: none;
}

a:visited {
   color: $linkVisitedColor;

}

a:hover {
    color: $linkHoverColor;
    text-decoration: underline;
}
a.profilelink, a.profilelink:link, a.profilelink:visited {
    color: $profilelink;
    text-decoration: underline;
}

li {
    list-style: none;
}
#toppanel {
    background: $toPanelBackground;
    @include filter-gradient($toPanelBackground, $downPanelBackground, vertical);
    @include background-image(linear-gradient($toPanelBackground,$downPanelBackground));
    color: $font-color-toppanel;
    margin: 5px;
    margin-top: 1px;
    min-height: 30px;
    border: solid 1px darken($toPanelBackground, 30%);
    padding: 3px 3px 3px;
}
#langicons {
    display: inline; 
    float: right;
    a img {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
        filter: grayscale(80%);
        -moz-filter: grayscale(80%);
        -ms-filter: grayscale(80%);
        -o-filter: grayscale(80%);
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(80%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    }
    a:hover img, a.current img{
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
        filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: none ; /* IE6-9 */
        zoom:1;
        -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    }
    
}
#langchange{
    text-align: left;
    select {
        padding:3px;
        margin: 0;
        @include border-radius(4px, 4px); 

        
        -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
        -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
        box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
      
        //background: #f8f8f8;
        color:#888;
        border:none;
        outline:none;
        display: inline-block;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
        cursor:pointer;
        width: auto;
        max-width: 72px;
        min-width: 20px;
    }
    select:focus{
        width:200px;
    }
    option {
        color: red;
    }
    label {
        position:relative;
      
    }
    label:after {
        content:'<>';
        font:11px "Consolas", monospace;
        color:#aaa;
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        transform:rotate(90deg);
        right:4px; top:2px;
        padding:0 0 2px;
        border-bottom:1px solid #ddd;
        position:absolute;
        pointer-events:none;
    }
    label:before {
        content:'';
        right:4px; top:0px;
        width:20px; height:20px;
        background:#f8f8f8;
        position:absolute;
        pointer-events:none;
        display:block;
    }
    
}
nav, ul, li, a  {margin: 0; padding: 0;}
nav {
    margin-bottom: 15px;
}
#container,#idpSelectIdPSelector {
    width: 90%;
    max-width: 1224px;
    margin: 10px auto;
    background: $container-background-gradient-1;
    @include filter-gradient($container-background-gradient-1, $container-background-gradient-2, vertical);
    @include background-image(linear-gradient($container-background-gradient-1, $container-background-gradient-2));
    @include border-radius(3px 3px, 3px 3px);
    border: 1px solid $container-border-color;
    box-shadow: 0 1px 0 $container-box-shadow-color inset;
    list-style: none outside none;
    padding: 7px 14px;
    min-height: 80%;
}
#logo img {
    max-width: 200px;
    max-height: 30px;
    
}
#subtitle,#pagetitle,#excarpslist,#noticeblock,.sectiontitle{
    text-align: center;
    background: $titleBgColorTop;
    @include filter-gradient($titleBgColorTop, $titleBgColorBottom, vertical);
    @include background-image(linear-gradient($titleBgColorTop, $titleBgColorBottom)); 
    @include border-radius(3px 3px, 3px 3px);
    border: $titleBorderWidth solid $titleBorderColor;
    box-shadow: 0 1px 0 $titleShadowColor inset;
    list-style: none outside none;
    margin: 0 0 10px;
}
div.sectiontitle {
    margin-top: 15px;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
#navbuttons1 {
    
    //   background: $nav-1stlevel-background;
    //   background: $nav-1stlevel-background-gecko;
    //   background-color: black;
    //    border-top: 1px solid black; 
    padding: 5px;
    margin-bottom: 5px;
    
}
#excarpslist{
    background-color: #FBFBFC;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5FC);
    background-repeat: repeat-x;
    background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#F5F5FC));
    ol {
        text-align: left;
        margin-left: 10px;
    } 
}
#noticeblock{
    text-align: left;
    padding: 20px;
    
    border: 1px solid orange;
}
#pagetitle {
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#subtitle {
    padding: 1px;
}
.providerlogo {
    max-width: 200px;
    max-height: 100px;
}

.toggleMenu {
    background: $toggleMenuBgColor1;
    @include filter-gradient($toggleMenuBgColor1,$toggleMenuBgColor2,vertical);
    @include background-image(linear-gradient(top,$toggleMenuBgColor1,$toggleMenuBgColor2,$toggleMenuBgColor3));
    color: $toggleMenuColor;
    display:  none;
    padding: 10px 15px;
}
.nav {
    list-style: none;
    *zoom: 1;
    background: $nav-1stlevel-bgcolor2;
    @include filter-gradient($nav-1stlevel-bgcolor1,$nav-1stlevel-bgcolor3,vertical);
    @include background-image(linear-gradient(top, $nav-1stlevel-bgcolor1,$nav-1stlevel-bgcolor2,$nav-1stlevel-bgcolor3));
    border-top: 1px solid $nav-1stlevel-bordertop;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    padding: 10px 15px;
    color:#fff;
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
    #    border-top: 1px solid black;
}
.nav > li > .parent {
    background-image: url("../images/icons/control-270-small.png");
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
    background: $nav-2ndlevel-background;
    position: relative;
    z-index:100;
    border-top: 1px solid black;
}
.nav li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid black;
}


header {}


#main {}


footer,#footer {
    text-align: center;
    width: 100%;
    
}



/////////////

.row-fluid {
    width: 100%;
    *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
    display: table;
    content: "";
}
.row-fluid:after {
    clear: both;
}
.row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-right: 2.127659574%;
    *margin-right: 2.0744680846382977%;
}
.row-fluid [class*="span"]:first-child {
    //  margin-left: 0;
}
.row-fluid .span-24 {
    width: 99.974%;
    *width: 99.974%;
}
.row-fluid .span-23 {
    width: 95.765%;
    *width: 95.765%;
}
.row-fluid .span-22 {
    width: 91.556%;
    *width: 91.556%;
}
.row-fluid .span-21 {
    width: 87.347%;
    *width: 87.347%;
}
.row-fluid .span-20 {
    width: 83.138%;
    *width: 83.138%;
}
.row-fluid .span-19 {
    width: 78.929%;
    *width: 78.929%;
}
.row-fluid .span-18 {
    width: 74.72%;
    *width: 74.72%;
}
.row-fluid .span-17 {
    width: 70.511%;
    *width: 70.511%;
}
.row-fluid .span-16 {
    width: 66.302%;
    *width: 66.302%;
}
.row-fluid .span-15 {
    width: 62.093%;
    *width: 62.093%;
}

.row-fluid .span-14 {
    width: 57.884%;
    *width: 57.884%;
}
.row-fluid .span-13 {
    width: 53.675%;
    *width: 53.675%;
}
.row-fluid .span-12 {
    width: 49.466%;
    *width: 49.466%;
}
.row-fluid .span-11 {
    width: 45.257%;
    *width: 45.257%;
}
.row-fluid .span-10 {
    width: 41.048%;
    *width: 41.048%;
}
.row-fluid .span-9 {
    width: 36.839%;
    *width: 36.839%;
}
.row-fluid .span-8 {
    width: 32.63%;
    *width: 32.63%;
}
.row-fluid .span-7 {
    width: 28.421%;
    *width: 28.421%;
}
.row-fluid .span-6 {
    width: 24.212%;
    *width: 24.212%;
}
.row-fluid .span-5 {
    width: 20.003%;
    *width: 20.003%;
}
.row-fluid .span-4 {
    width: 15.794%;
    *width: 15.794%;
}
.row-fluid .span-3 {
    width: 11.585%;
    *width: 11.585%;
}
.row-fluid .span-2 {
    width: 7.376%;
    *width: 7.376%;
}
.row-fluid .span-1 {
    width: 3.167%;
    *width: 3.167%;
}


.box {
    

    color: $boxBlockFontColor;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 18px;
    border: 1px solid $boxBlockBorderColor;
    @include border-radius(2px 5px, 3px 6px);
    margin-top: 10px; 
    margin-bottom: 10px;
    
    li { 
        display: block;
        margin-bottom: 15px;
    }
}
.box-header {
    text-align: center;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: $boxHeadeColorTop;
    @include filter-gradient($boxHeadeColorTop, $boxHeaderColorDown, vertical);
    @include background-image(linear-gradient($boxHeadeColorTop,  $boxHeaderColorDown));
    @include border-radius(1px 1px, 0px 0px);
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 0px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    min-height: 12px;
    padding-top: 0px;
    padding-bottom: 4px;
}
.box-content {
    padding: 10px;
    
}
.last {
    clear: right; 
}

table#details, table.details, table#detailsnosort, table.detailsnosort {
    font-size: $font-size;
    font-family: $font-family;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse; 
    tr>:first-child {
        
        font-weight: bolder;
    }
    th,td {
        border: 1px solid #DDDDDD;
        border-collapse:collapse;
        padding:5px;
        text-align: left;
        table {
            font-weight: normal;
        }
        
    }
    td.highlight {
        background-color: #394C5F;
        color: white;
        
        font-weight: bolder;
        text-align: left;
        //   padding-left: 15px;
    }
    tr.opened {
        border-bottom: 0px;
    }
    tr.opened td {
        border-bottom: 0px;
    }
    tr:nth-of-type(odd) { 
        background: #eee; 
    }
    th { 
        background: #333; 
        color: white; 
        font-weight: bold; 
    }
    td, th { 
        padding: 6px; 
        border: 1px solid #ccc; 
        text-align: left; 
    }
    span.additions {
        display: block;
        width: 100%;
        max-width: 450px;
        overflow: auto;
    }
    
    tr.accordionButton.off>:first-child {
        background-image: url("../images/icons/toggle-expand.png");
        background-repeat: no-repeat;
        background-position: right;
        
    }
    tr.accordionButton.on>:first-child {
        background-image: url("../images/icons/toggle.png");
        background-repeat: no-repeat;
        background-position: right;
        
    }
    td {
        span.accordionButton.off:before {
            content:url("../images/icons/toggle-expand.png");
            padding-right: 3px;
            padding-left: 5px;
        }
        
        span.accordionButton.on:before {
            content:url("../images/icons/toggle.png");
        }
        span.accordionContent {
            font-size: smaller;
        }
    }
}
table.gridimages {


    width: 100%;
    max-width: 100%;
    border-collapse: collapse; 

    caption {
       font-weight: bold;
       font-size: 14px;

    }
    img {
       max-width: 200px;
    }

}
form table#details, form table#detailsnosort {
    
    tr:nth-of-type(odd) {
        background:  #eee ;
    }
    tr:nth-of-type(even) {
        background: darken( #eee, 10%);
    }
    .attr_supported {
        tr:nth-of-type(odd) {
            background: lighten( #eee, 20%) ;
        }  
        tr:nth-of-type(even) {
            background: lighten( #eee, 30%);
        }    
        
    }
    
}
table.details, table#details {
    th.header{
       white-space: nowrap;
    } 
    th.header:before {
       background: rgba(255, 255, 255, 0.3);
       content: url('../images/ascdesc.gif');
       margin-right: 5px;
    }
    th.headerSortDown:before{
        content: url('../images/asc.gif');
    } 
    th.headerSortUp:before{
        content: url('../images/desc.gif');
    } 

}

.userlist {
    td {
    font-size: smaller;
      width: auto;
    } 
}
code,pre {
    font-size: x-small;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important ;
    white-space: -pre-wrap;
    white-space: o-pre-wrap;
    word-wrap: break-word;
    width: 90%;
    max-width: 800px;
}
.accordionButton {
    cursor: pointer;
    color: black;
    a {
        color: black;
    }
}

.xml {
    background-color: white;
}
.xml .de1, .xml .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:grey; vertical-align:top;}
.xml  {font-family:monospace;}
.xml .imp {font-weight: bold; color: red;}
.xml li, .xml .li1 {font-weight: normal; vertical-align:top;}
.xml .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.xml .li2 {font-weight: bold; vertical-align:top;}
.xml .es0 {color: #000099; font-weight: bold;}
.xml .br0 {color: #66cc66;}
.xml .sy0 {color: #66cc66;}
.xml .st0 {color: #ff0000;}
.xml .nu0 {color: #cc66cc;}
.xml .sc-1 {color: #808080; font-style: italic;}
.xml .sc0 {color: #00bbdd;}
.xml .sc1 {color: #ddbb00;}
.xml .sc2 {color: #339933;}
.xml .sc3 {color: #009900;}
.xml .re0 {color: #000066;}
.xml .re1 {color: #7f0055;; font-weight: bold;}
.xml .re2 {color: #000000; font-weight: bold;}
.xml .ln-xtra, .xml li.ln-xtra, .xml div.ln-xtra {background-color: #ffc;}
.xml span.xtra { display:block; }


.fedlbl 
{
  display: inline;
  float: right;

 span {
  
   iwhite-space:nowrap;
   @include border-radius(2px 2px, 2px 2px);
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
   padding: 1px 2px 2px;
   color: rgba(255, 255, 255, 0.9);
   background-color: #3A87AD;
   font-size: smaller;
   margin: 1px;
 }
}
.lbl {
    text-transform:lowercase;
    white-space:nowrap;
    @include border-radius(3px 3px, 3px 3px);
    padding: 1px 4px 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.9);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    
    
}
.lbl a {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    
    
}
.lbl-edit {
    background-color: #3A87AD;
    font-size: smaller;
}

.lbl-external {
    background-color: #3A87AD;
    font-size: smaller;
}
.lbl-local {
    background-color: #3A87AD;
    font-size: smaller;
}
.lbl-public {
    background-color: #3A87AD;
    font-size: smaller;
}
.lbl-notpublic {
    background-color: #F89406;
    font-size: smaller;
}
.lbl-active {
    background-color: #468847;
    font-size: smaller;
}
.lbl-static {
    background-color: #F89406;
    font-size: smaller;
}
.lbl-disabled {
    background-color: #B94A48;
    font-size: smaller;
}
.lbl-alert {
    background-color: #B94A48;
    font-size: smaller;
}
.lbl-notice {
    background-color: #B94A48;
    font-size: smaller;
}
.lbl-locked {
    background-color: #B94A48;
    font-size: smaller;
}
.lbl-noperm {
    
    background-color: #B94A48;
    font-size: smaller;
    
}
.lblsubttitlepos {
    float: right;
}

.btn, .button, .btn-positive, .btn-negative {
    display: inline-block;
    *display: inline;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 1em;
    line-height: 18px;
    *line-height: 20px;
    color: $defaultBtnColor;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;

    background: $defaultBtnBgColor1;;
    @include filter-gradient($defaultBtnBgColor1, $defaultBtnBgColor3, vertical);
    @include background-image(linear-gradient(top,$defaultBtnBgColor1,$defaultBtnBgColor2,$defaultBtnBgColor3));
    border: $defaultBtnBorderWidth solid $defaultBtnBorderColor;
    *border: 0;
 //   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 //    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
//    border-bottom-color: #b3b3b3;

    @include border-radius(4px 4px, 4px 4px);

//    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
//    filter: progid:dximagetransform.microsoft.gradient(enabled=false);

    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-negative {
    background-color: #B94A48;
    background-image: -ms-linear-gradient(top, #B94A48, #B94A48);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B94A48), to(#B94A48));
    background-image: -webkit-linear-gradient(top, #B94A48, #B94A48);
    background-image: -o-linear-gradient(top, #B94A48, #B94A48);
    background-image: linear-gradient(top, #B94A48, #B94A48);
    background-image: -moz-linear-gradient(top, #B94A48, #B94A48);
    background-repeat: repeat-x;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    -webkit-appearance: button;
    
}
.btn-positive {
    background-color: green;
    background-image: -ms-linear-gradient(top, orange, orange);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(orange), to(orange));
    background-image: -webkit-linear-gradient(top, orange, orange);
    background-image: -o-linear-gradient(top, orange, #e6e6e6);
    background-image: linear-gradient(top, orange, #e6e6e6);
    background-image: -moz-linear-gradient(top, orange, orange);
    background-repeat: repeat-x;
    font-weight: bold;
    cursor: pointer;
    font-size: larger;
    -webkit-appearance: button;
    margin-bottom: 10px;
    background-color: #0074CC;
    background-image: -moz-linear-gradient(center top , #0088CC, #0055CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    
}
button.negative {
    color: #d12f19;
    
}




.ui-button { margin-left: -1px; }
.ui-button-icon-only .ui-button-text { padding: 2px; }
.ui-autocomplete-input { margin: 2px; padding: 2px 2px 3px 4px; width: 400px;}
div.floating-menu {
    color:lighten($nav-2ndlevel-background,90%); 
    position:fixed;
    left: 4px;
    top: 125px;
    z-index:100;
    padding: 0px;
    max-width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2px;
    margin-bottom: 10px;
    background:$nav-2ndlevel-background;
    border:1px solid ligthen($nav-2ndlevel-background,10%);
    width:130px;
    span {
        cursor: pointer;
    }
    span.accordionButton1 {
        background:darken($nav-2ndlevel-background,10%);
        width: 100%;
        display: block;
    }
    hr {
        color: #ffcc00;
    }
    
    
    a {
        display: block;
        color: black;
        color:lighten($nav-2ndlevel-background,80%); 
        padding: 2px 2px 2px 2px;
        border-bottom: solid 1px black;
    }
    
}
table#idpmatrix {
    width: 100%;
    margin: auto;
    
}
#idpmatrix th {
    border-left: 1px gray solid;
    border-bottom: 1px gray solid;
    border-top: 1px gray solid;
}
#idpmatrix tr th:last-child {
    border-right: 1px gray solid;
}
#idpmatrix td {
    padding: 0px;
    text-align: center;
    border-left: 1px gray solid;
    border-bottom: 1px gray solid;
    
}
#idpmatrix td:first-child {
    text-align: left;
    padding-left: 5px;
}
#idpmatrix td:last-child {
    border-right: 1px gray solid;
}
div.perm {
    background-color: #00FF00;
    text-transform: uppercase;
    font-weight: bold;
}
div.perm:not(:empty){
   cursor: pointer;
}
div.dis {
    background-color: #E3E5FF;
    text-transform: uppercase;
    font-weight: bold;
}
div.dis:not(:empty){
   cursor: pointer;
}
div.spec {
    background-color: #FFFF00;
    text-transform: uppercase;
    font-weight: bold;
}
div.spec:not(:empty){
   cursor: pointer;
}
div.den {
    background-color: red;
    text-transform: uppercase;
    font-weight: bold;
}
div.den:not(:empty){
   cursor: pointer;
}
div.alert {
    color: red;
}
.success {
   border: 1px solid;
   margin: 10px 0px;
   padding:15px 10px 15px 50px;
   background-repeat: no-repeat;
   background-position: 10px center;
}
div.success {
    color: $noticeSuccessColor;
    background-color: $noticeSuccessBgColor;
    font-weight: bolder;
    display: block;
    width: 100%;
    border: 1px solid green;
    margin: 2px;
    padding: 2px;
    
}
.success:before{
   content: "\2714";
}
div.error {
    color: red;
    font-weight: bolder;
}


div.map {
    float: left;
}
div.mapform {
    
    float: right;
}
#matrixtable {
    width: 100%;
    text-align: center;
    table {
        border: 2px solid black;
        width: 100%;
    }
    td {
        border: 1px solid grey;
    }
    td.den {
        background-color: #FF0000;
        text-transform:uppercase;
        font-weight: bold;
    }
    td.perm {
        background-color: #00FF00;
        text-transform:uppercase;
        font-weight: bold;
    }
    
    td.dis {
        background-color: #E3E5FF;
        text-transform:uppercase;
        font-weight: bold;
    }
    td.spec {
        background-color: #FFFF00;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    
}
#map {
    width: 500px;
    height: 500px;
    position: relative; 
    background-color: rgb(229, 227, 223);
    overflow: hidden;
}
.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 158px; /* width of the spinner gif */
    height: 158px; /*hight of the spinner gif +2px to fix IE8 issue */
}

#cookiesinfo {
    
    
    width: auto;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px dotted grey;
    #lcookiesinfo {
        width: 80%;
        float: left;
        
    }
    #rcookiesinfo {
        width: 19%;
        float: right;
        
    }
    #cookiefoot {
        clear: both;
    }
    
    
}

#providertabs table#details tr>:first-child{
    
    min-width: 200px;
    
}
#providertabs table#detailsnosort tr>:first-child{
    
    min-width: 200px;
    
}

#providertabs .ui-tabs-nav li { 
    //margin-top: 0.6em; 
    font-size: 80%; 
} 
#formtabs .ui-tabs-nav li { 
    //margin-top: 0.6em; 
    font-size: 80%; 
} 
.ui-tabs-nav li.ui-tabs-selected, 
.ui-tabs-nav li.ui-state-active { 
    margin-top: 0em; 
    font-size: 90%; 
    background: $nav-2ndlevel-background;
    background: $tab-selected-background;
    background: $tab-selected-background-gecko;
    background-color: black;
    border-top: 1px solid black;
    .ui-tabs-anchor {
        color: white;
        font-weight: bolder;
    }
}
span.alert
{
    color: red;
    
}

#formtabs {
    
    
    
    
    button.btn {
        
        box-sizing: content-box;
        -moz-box-sizing: content-box;
        cursor: pointer;
        -moz-box-shadow:inset 0px 1px 0px 0px #23395e;
        -webkit-box-shadow:inset 0px 1px 0px 0px #23395e;
        box-shadow:inset 0px 1px 0px 0px #23395e;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
        background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
        background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
        background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
        background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
        background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
        
        background-color:#2e466e;
        @include border-radius(3px 3px, 3px 3px); 
        
        border:1px solid #1f2f47;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-weight:bold;
        padding:3px 12px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #263666;
        
    }
    button.btn:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e));
        background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
        background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
        background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
        background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
        background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);
        
        background-color:#415989;
    }
    button.btn:active {
        position:relative;
        top:1px;
    }
    
}
/* Overlay */
#login_form {
    background-color: transparent;
    
}
#simplemodal-overlay {background-color:#aaaaaa; cursor:wait;}

/* Container */
#simplemodal-container, #loginform2 {
    min-width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: lighten($formbackgroundcolor,10%) ;
    background-image: -moz-linear-gradient(center top , lighten($formbackgroundcolor,10%) 92%, darken($formbackgroundcolor,0%) 100%) repeat scroll 0 0 transparent;
    background-repeat: repeat-x;
    background: -webkit-gradient(linear, center top, center bottom, from(lighten($formbackgroundcolor,10%)), to(darken($formbackgroundcolor,0%)));
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    
}
#loginform2 {
    display: block;
}
#simplemodal-container form#login, #simplemodal-container form#federated, #loginform2 form#login, #loginform2 form#federated  {
    background: transparent;
    border: 0px;
    @include border-radius(0px 0px, 0px 0px);
    box-shadow: 0 0px 0 #FFFFFF inset;
    margin: auto;
    legend {
        font-size: large;
    }
    ol, ol li {
        margin-left: 0px;
        padding-left: 0px;
        div.buttons {
            margin: 0px;
            padding: 0px;
            button {
                margin: 0px;
                padding: 0px;
                
                
            }
        }
    }
}
#simplemodal-container a.modalCloseImg {
    background:url('../images/x.png') no-repeat;
    width:25px; 
    height:29px;
    display:inline;
    z-index:3200; 
    position:absolute;
    top:-20px; 
    left:-9px; 
    cursor:pointer;
}
#simplemodal-container #basicModalContent {
    padding:8px;
}
#sconfirm, #idpmatrixform, #notificationaddform,#notificationupdateform {
    display:none;
    box-shadow: 0 0 0 ;
}
form#idpmatrixform, form#notificationupdateform,form#notificationaddform{
  background-color: white;  
  padding: 0px;
  width: auto;
 div {
    width: 100%;
 }
}
form#notificationaddform {
  label {
    font-weight: bold;
    display: block;
    clear:both;
    float: none;
  }
  input {
    display: block;
    clear:both;
  }
  div.help{
    font-size: smaller;
    color: lighten($font-color,10%);
  }
   select{
    font-size: small;
     -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
  }

}
#resultdialog {
    display: none;
}
#simpledialog-overlay {
    background-color:#eee;
}

#simpledialog-container {
    background: $responseDialogBgcolor;
    height:140px; 
    width:420px; 
    font: 16px/22px 'Trebuchet MS', Verdana, Arial; 
    text-align:left; 
    background:#fff; 
    border:2px solid $responseDialogBorderColor;
}
#simpledialog-container .message {
    color:#333; 
    font-size:14px;
    margin:0; 
    padding:12px 4px 12px 8px;
}
#simpledialog-container .header {
    height:30px; 
    line-height:30px;
    text-align: center;
    width:auto; 
    background-color: $titleBgSimpleModal; 
    color:$titleColorSimpleModal; 
    font-weight:bold;
}
#simpledialog-container .header span {
    padding-left:8px;
}
#simpledialog-container .buttons {
    line-height:26px; 
    width:160px; 
    float:right; 
    padding:10px 8px 0;
} 
#simpledialog-container .buttons div {
    float:right; 
    margin-left:4px;
    width:70px; 
    height:26px; 
    color:#666;
    font-weight:bold;
    text-align:center;
    
    border:1px solid #bbb;
    cursor:pointer;
} 
#simpledialog-container a.modal-close,
#simpledialog-container a.modal-close:link,
#simpledialog-container a.modal-close:active,
#simpledialog-container a.modal-close:visited {
    text-decoration:none;
    font-weight:bold;
    position:absolute; 
    right:10px;
    top:2px;
    color:black;
}
#simpledialog-container a.modal-close:hover {
    color:#ccc;
}

#notification_error { 
    font-weight: bolder;
    color: red; 
    height: auto;
    padding: 5px; 
    text-align: center; 
}

#login_response {
    overflow: auto; 
    background: white;
    margin-left: 10px; 
    margin-right: 10px; 
}

#ajax_loading {
    display: none;
    font-size: 12px; 
    font-family: Tahoma;
}

#logged_in {
    padding: 5px;
    margin: 23px 0 100px 43px;
    padding: 5px; 
    text-align: center; 
    width: 400px; 
}

.column {
    float: left;
    display: block;
}
.column.one {
    width: 50%;
    max-width: 50%;
    border-right: 1px grey dotted;
}
.column.two {
    height: 90%;
    max-width: 45%;
    width: 45%;
    text-align: center;
    
}

#loginlink, #logout {
    float: right;
    margin-right: 5px;

}

#logout {
  display: block;

}













button.loginbtn {
    -moz-box-shadow:inset 0px 1px 0px 0px #614761;
    -webkit-box-shadow:inset 0px 1px 0px 0px #614761;
    box-shadow:inset 0px 1px 0px 0px #614761;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #080808), color-stop(1, #1c121c) );
    background:-moz-linear-gradient( center top, #080808 5%, #1c121c 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#080808', endColorstr='#1c121c');
    background-color:#080808;
    @include border-radius(1px 1px, 1px 1px);
    border:0px solid #f7f7f7;
    display:inline-block;
    color:#ededed;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
}
button.loginbtn:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1c121c), color-stop(1, #080808) );
    background:-moz-linear-gradient( center top, #1c121c 5%, #080808 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c121c', endColorstr='#080808');
    background-color:#1c121c;
}
button.loginbtn:active {
    position:relative;
    top:1px;
}
#fedcategories {
    padding-bottom: 10px;
}
button.fedcategory, button.typelist {
   color: $btn1color;
   padding: 10px 15px;
   background: $btn1bgcolortop;
   @include filter-gradient($btn1bgcolortop, $btn1bgcolordown, vertical);
   background: -moz-linear-gradient(
		top,
	         $btn1bgcolortop 0%,
		$btn1bgcolordown);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from($btn1bgcolortop),
		to($btn1bgcolordown));
       @include border-radius(0px 0px, 0px 0px);
	border: 1px solid $btn1bordercolor;
	-moz-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);

}
button.activated , button.tchosen{
   color: $btn1color;
   padding: 10px 15px;
   background: black;
   @include filter-gradient($btn1bgcolortop, $btn1bgcolordown, vertical);
   background: -moz-linear-gradient(
		top,
	         darken($btn1bgcolortop,25%) 0%,
		darken($btn1bgcolordown,25%));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(darken($btn1bgcolortop,25%)),
		to(darken($btn1bgcolordown,25%)));
        @include border-radius(0px 0px, 0px 0px);
	border: 1px solid $btn1bordercolor;
	-moz-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);

       }
button.fedcategory:hover, button.typelist:hover {


   color: $btn1colorhover;
   padding: 10px 15px;
   background: $btn1bgcolorhovertop;
   @include filter-gradient($btn1bgcolorhovertop, $btn1bgcolorhoverdown, vertical);
   background: -moz-linear-gradient(
		top,
	        $btn1bgcolorhovertop 0%,
		$btn1bgcolorhoverdown);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from($btn1bgcolorhovertop),
		to($btn1bgcolorhoverdown));
        @include border-radius(0px, 0px);
	border: 1px solid $btn1bordercolorhover;
	-moz-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);

}

.inqueue {
    margin: 2px;
    position: relative;
    top:-5px; 
    
    padding:1px 2px 1px 2px;
    background-color:red;
    color:white;
    @include border-radius(3px 3px, 3px 3px);
    box-shadow:1px 1px 1px gray;
    border: 1px solid white;
    font-weight: bolder;
    
}
#statisticdiag img {
    width: 100%;
    
    
}

.nopadding
{
 padding: 2px 2px !important;
}

a.fedloginbutton, a.fedloginbutton:link, a.fedloginbutton:hover, a.fedloginbutton:active, a.fedloginbutton:visited {
         color: $fedloginBtnColor;
         text-decoration: none;
}


a.addbutton, a.addbutton:link, a.addbutton:hover, a.addbutton:active, a.addbutton:visited {
         color: $addBtnColor;
         text-decoration: none;
}


a.savebutton, a.savebutton:link, a.savebutton:hover, a.savebutton:active, a.savebutton:visited {
         color: $saveBtnColor;
         text-decoration: none;
}
a.resetbutton, a.resetbutton:link, a.resetbutton:hover, a.resetbutton:active, a.resetbutton:visited {
         color: $resetBtnColor;
         text-decoration: none;
}
a.editbutton, a.editbutton:link, a.editbutton:hover, a.editbutton:active, a.editbutton:visited {
         color: $editBtnColor;
         text-decoration: none;
}
a.loginbutton, a.loginbutton:link, a.loginbutton:hover, a.loginbutton:active, a.loginbutton:visited {
         color: $loginBtnColor;
         text-decoration: none;
}
a.logoutbutton, a.logoutbutton:link, a.logoutbutton:hover, a.logoutbutton:active, a.logoutbutton:visited {
         color: $logoutBtnColor;
         text-decoration: none;
}
// buttons classess
.fedlogin,.addbutton, .resetbutton, .savebutton, .editbutton, .loginbutton, .logoutbutton {
    min-width: 100px;
    height:30px;
    line-height:30px;
}
.smallerbtn {

    height:25px;
    line-height:25px;
    font-size: smaller !important;

}
.addbutton {
	display:inline-block;
        white-space: nowrap;

	background-color:$addBtnBgColor1;
	background-image:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $addBtnBgColor1), color-stop(1, $addBtnBgColor2) );
        background-image: -webkit-linear-gradient(top, $addBtnBgColor1, $addBtnBgColor2);
	background-image:-moz-linear-gradient( center top, $addBtnBgColor1 5%, $addBtnBgColor2 100% );
        background-image: -ms-linear-gradient(top, $addBtnBgColor1, $addBtnBgColor2);
        background-image: -o-linear-gradient(top, $addBtnBgColor1, $addBtnBgColor2);
        background-image: linear-gradient(top, $addBtnBgColor1,$addBtnBgColor2);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$addBtnBgColor1', endColorstr='$addBtnBgColor2');
        

	-moz-box-shadow:inset 0px 1px 0px 0px $addBtnShadow;
	-webkit-box-shadow:inset 0px 1px 0px 0px $addBtnShadow;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	border:1px solid $addBtnBorderColor;

        padding: 0 1.5em;

	text-indent:0;
	color:$addBtnColor;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px $addBtnTxtShadow;
}
.addbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $addBtnBgColor2), color-stop(1, $addBtnBgColor1) );
	background:-moz-linear-gradient( center top, $addBtnBgColor2 5%, $addBtnBgColor1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$addBtnBgColor2', endColorstr='$addBtnBgColor1');
	background-color:$addBtnBgColor2;
}
.addbutton:active {
	position:relative;
	top:1px;
}
.addbutton:before
{
	background: #ccc;
	background: rgba(0,0,0,.1);
	float: left;        
	width: 1em;
	text-align: center;
	font-size: 1.5em;
	margin: 0 1em 0 -1em;
	padding: 0 .2em;
	-moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-moz-border-radius: .15em 0 0 .15em;
	-webkit-border-radius: .15em 0 0 .15em;
	border-radius: .15em 0 0 .15em;
        pointer-events: none;        
}
.savebutton {
	display:inline-block;
        white-space: nowrap;

	background-color:$saveBtnBgColor1;
	background-image:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $saveBtnBgColor1), color-stop(1, $saveBtnBgColor2) );
        background-image: -webkit-linear-gradient(top, $saveBtnBgColor1, $saveBtnBgColor2);
	background-image:-moz-linear-gradient( center top, $saveBtnBgColor1 5%, $saveBtnBgColor2 100% );
        background-image: -ms-linear-gradient(top, $saveBtnBgColor1, $saveBtnBgColor2);
        background-image: -o-linear-gradient(top, $saveBtnBgColor1, $saveBtnBgColor2);
        background-image: linear-gradient(top, $saveBtnBgColor1,$saveBtnBgColor2);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$saveBtnBgColor1', endColorstr='$saveBtnBgColor2');
        

	-moz-box-shadow:inset 0px 1px 0px 0px $saveBtnShadow;
	-webkit-box-shadow:inset 0px 1px 0px 0px $saveBtnShadow;
	box-shadow:inset 0px 1px 0px 0px $saveBtnShadow;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	border:1px solid $saveBtnBorderColor;

        padding: 0 1.5em;

	text-indent:0;
	color:$saveBtnColor;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;


	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px $saveBtnTxtShadow;
}
.savebutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $saveBtnBgColor2), color-stop(1, $saveBtnBgColor1) );
	background:-moz-linear-gradient( center top, $saveBtnBgColor2 5%, $saveBtnBgColor1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$saveBtnBgColor2', endColorstr='$saveBtnBgColor1');
	background-color:$saveBtnBgColor2;
}
.savebutton:active {
	position:relative;
	top:1px;
}
.savebutton:before
{
	background: #ccc;
	background: rgba(0,0,0,.1);
	float: left;        
	width: 1em;
	text-align: center;
	font-size: 1.5em;
	margin: 0 1em 0 -1em;
	padding: 0 .2em;
	-moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-moz-border-radius: .15em 0 0 .15em;
	-webkit-border-radius: .15em 0 0 .15em;
	border-radius: .15em 0 0 .15em;
        pointer-events: none;        
}



.resetbutton {
	display:inline-block;
        white-space: nowrap;

	background-color:$resetBtnBgColor1;
	background-image:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $resetBtnBgColor1), color-stop(1, $resetBtnBgColor2) );
        background-image: -webkit-linear-gradient(top, $resetBtnBgColor1, $resetBtnBgColor2);
	background-image:-moz-linear-gradient( center top, $resetBtnBgColor1 5%, $resetBtnBgColor2 100% );
        background-image: -ms-linear-gradient(top, $resetBtnBgColor1, $resetBtnBgColor2);
        background-image: -o-linear-gradient(top, $resetBtnBgColor1, $resetBtnBgColor2);
        background-image: linear-gradient(top, $resetBtnBgColor1,$resetBtnBgColor2);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$resetBtnBgColor1', endColorstr='$resetBtnBgColor2');
        

	-moz-box-shadow:inset 0px 1px 0px 0px $resetBtnShadow;
	-webkit-box-shadow:inset 0px 1px 0px 0px $resetBtnShadow;
	box-shadow:inset 0px 1px 0px 0px $resetBtnShadow;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	border:1px solid $resetBtnBorderColor;

        padding: 0 1.5em;

	text-indent:0;
	color:$resetBtnColor;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px $resetBtnTxtShadow;
}
.resetbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $resetBtnBgColor2), color-stop(1, $resetBtnBgColor1) );
	background:-moz-linear-gradient( center top, $resetBtnBgColor2 5%, $resetBtnBgColor1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$resetBtnBgColor2', endColorstr='$resetBtnBgColor1');
	background-color:$resetBtnBgColor2;
}
.resetbutton:active {
	position:relative;
	top:1px;
}
.resetbutton:before
{
	background: #ccc;
	background: rgba(0,0,0,.1);
	float: left;        
	width: 1em;
	text-align: center;
	font-size: 1.5em;
	margin: 0 1em 0 -1em;
	padding: 0 .2em;
	-moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-moz-border-radius: .15em 0 0 .15em;
	-webkit-border-radius: .15em 0 0 .15em;
	border-radius: .15em 0 0 .15em;
        pointer-events: none;        
}

.logoutbutton {
	display:inline-block;
        white-space: nowrap;

	background-color:$editBtnBgColor1;
	background-image:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $logoutBtnBgColor1), color-stop(1, $logoutBtnBgColor2) );
        background-image: -webkit-linear-gradient(top, $logoutBtnBgColor1, $logoutBtnBgColor2);
	background-image:-moz-linear-gradient( center top, $logoutBtnBgColor1 5%, $logoutBtnBgColor2 100% );
        background-image: -ms-linear-gradient(top, $logoutBtnBgColor1, $logoutBtnBgColor2);
        background-image: -o-linear-gradient(top, $logoutBtnBgColor1, $logoutBtnBgColor2);
        background-image: linear-gradient(top, $logoutBtnBgColor1,$logoutBtnBgColor2);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$logoutBtnBgColor1', endColorstr='$logoutBtnBgColor2');
        

	-moz-box-shadow:inset 0px 1px 0px 0px $logoutBtnShadow;
	-webkit-box-shadow:inset 0px 1px 0px 0px $logoutBtnShadow;
	box-shadow:inset 0px 1px 0px 0px $logoutBtnShadow;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	border:1px solid $logoutBtnBorderColor;

        padding: 0 1.5em;

	text-indent:0;
	color:$logoutBtnColor;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px $logoutBtnTxtShadow;
}
.logoutbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $editBtnBgColor2), color-stop(1, $logoutBtnBgColor1) );
	background:-moz-linear-gradient( center top, $logoutBtnBgColor2 5%, $logoutBtnBgColor1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$logoutBtnBgColor2', endColorstr='$logoutBtnBgColor1');
	background-color:$resetBtnBgColor2;
}
.logoutbutton:active{
	position:relative;
	top:1px;
}
.logoutbutton:before
{
	background: #ccc;
	background: rgba(0,0,0,.1);
	float: left;        
	width: 1em;
	text-align: center;
	font-size: 1.5em;
	margin: 0 1em 0 -1em;
	padding: 0 .2em;
	-moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-moz-border-radius: .15em 0 0 .15em;
	-webkit-border-radius: .15em 0 0 .15em;
	border-radius: .15em 0 0 .15em;
        pointer-events: none;        
}


.editbutton, .loginbutton {
	display:inline-block;
        white-space: nowrap;

	background-color:$editBtnBgColor1;
	background-image:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $editBtnBgColor1), color-stop(1, $editBtnBgColor2) );
        background-image: -webkit-linear-gradient(top, $editBtnBgColor1, $editBtnBgColor2);
	background-image:-moz-linear-gradient( center top, $editBtnBgColor1 5%, $editBtnBgColor2 100% );
        background-image: -ms-linear-gradient(top, $editBtnBgColor1, $editBtnBgColor2);
        background-image: -o-linear-gradient(top, $editBtnBgColor1, $resetBtnBgColor2);
        background-image: linear-gradient(top, $editBtnBgColor1,$editBtnBgColor2);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$editBtnBgColor1', endColorstr='$editBtnBgColor2');
        

	-moz-box-shadow:inset 0px 1px 0px 0px $editBtnShadow;
	-webkit-box-shadow:inset 0px 1px 0px 0px $editBtnShadow;
	box-shadow:inset 0px 1px 0px 0px $editBtnShadow;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	border:1px solid $editBtnBorderColor;

        padding: 0 1.5em;

	text-indent:0;
	color:$editBtnColor;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px $editBtnTxtShadow;
}
.editbutton:hover, .loginbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $editBtnBgColor2), color-stop(1, $editBtnBgColor1) );
	background:-moz-linear-gradient( center top, $editBtnBgColor2 5%, $editBtnBgColor1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$editBtnBgColor2', endColorstr='$editBtnBgColor1');
	background-color:$resetBtnBgColor2;
}
.editbutton:active , .loginbutton:active{
	position:relative;
	top:1px;
}
.editbutton:before, .loginbutton:before
{
	background: #ccc;
	background: rgba(0,0,0,.1);
	float: left;        
	width: 1em;
	text-align: center;
	font-size: 1.5em;
	margin: 0 1em 0 -1em;
	padding: 0 .2em;
	-moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-moz-border-radius: .15em 0 0 .15em;
	-webkit-border-radius: .15em 0 0 .15em;
	border-radius: .15em 0 0 .15em;
        pointer-events: none;        
}

.fedloginbutton {
	display:inline-block;
        white-space: nowrap;

	background-color:$fedloginBtnBgColor1;
	background-image:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $fedloginBtnBgColor1), color-stop(1, $fedloginBtnBgColor2) );
        background-image: -webkit-linear-gradient(top, $fedloginBtnBgColor1, $fedloginBtnBgColor2);
	background-image:-moz-linear-gradient( center top, $fedloginBtnBgColor1 5%, $fedloginBtnBgColor2 100% );
        background-image: -ms-linear-gradient(top, $fedloginBtnBgColor1, $fedloginBtnBgColor2);
        background-image: -o-linear-gradient(top, $fedloginBtnBgColor1, $fedloginBtnBgColor2);
        background-image: linear-gradient(top, $fedloginBtnBgColor1,$fedloginBtnBgColor2);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$fedloginBtnBgColor1', endColorstr='$fedloginBtnBgColor2');
        

	-moz-box-shadow:inset 0px 1px 0px 0px $fedloginBtnShadow;
	-webkit-box-shadow:inset 0px 1px 0px 0px $fedloginBtnShadow;
	box-shadow:inset 0px 1px 0px 0px $fedloginBtnShadow;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	border:0px solid $fedloginBtnBorderColor;

        padding: 6px 24px;;

	text-indent:0;
	color:$fedloginBtnColor;
	fonti-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 0px 0px $fedloginBtnTxtShadow;
}
.fedlogin:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $fedloginBtnBgColor2), color-stop(1, $fedloginBtnBgColor1) );
	background:-moz-linear-gradient( center top, $fedloginBtnBgColor2 5%, $fedloginBtnBgColor1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$fedloginBtnBgColor2', endColorstr='$fedloginBtnBgColor1');
	background-color:$fedloginBtnBgColor2;
}
.fedlogin:active {
	position:relative;
	top:1px;
}
.fedlogin:before
{
	background: #ccc;
	background: rgba(0,0,0,.1);
	float: left;        
	width: 1em;
	text-align: center;
	font-size: 1.5em;
	margin: 0 1em 0 -1em;
	padding: 0 .2em;
	-moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-moz-border-radius: .15em 0 0 .15em;
	-webkit-border-radius: .15em 0 0 .15em;
	border-radius: .15em 0 0 .15em;
        pointer-events: none;        
}
.addicon:before
{
	content: "\271A";
}

.minusicon:before
{
	content: "\2010";
}

.nexticon:before
{
       content: "\279C";
}
.previcon:before
{
       content: "\279C";
       -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2)
}
.saveicon:before
{
        content: "\2714";
}
.reseticon:before
{
	content: "\2718";        
}
.deleteicon:before
{
	content: "\2718";        
}
.staricon:before
{
	content: "\2605";        
}
.arrowdownicon:before 
{
        content: "\2304";
}
.editicon:before {
   content: "\270E";

}

.loginicon:before {
   content: "\271A";

}

.nexticon:before {
    content: "\279C";

}
input, textarea {
  background: $selectBackground;;
 

}
select {
     border: 0 !important;.  /*Removes border*/
     text-indent: 0.01px;
     text-overflow: "";
     vertical-align: top;
     min-width: 100px;
     max-width: 120px;
     min-height: 20px;

}
input , textarea{
    border: 1px darken(white,20%) solid !important;
    min-height: 25px;
}

input[type="text"]:disabled
{
    background: rgba(0,0,0,0.1);
}
input[readonly='readonly'] {

    background: rgba(0,0,0,0.1);

}

// TEST


form#multistepform {
	margin: 50px auto; 
	text-align: center;
	position: relative;
        padding: 10px;
        margin: 0 0 0 0;
}

form#multistepform fieldset {
	width: auto;
        padding: 0;	
        position: absolute;
        left: 10px;
        right: 10px;
    ol {
    list-style:none;
    padding-left:5px;
    }
    legend{
      text-align: left;
      font-weight: bolder;
    }
}
form#multistepform label {
      text-align: left;

}

#multistepform fieldset:not(:first-of-type) {
	display: none;
}
#multistepform input, #multistepform textarea {
	border-radius: 3px;
	margin-bottom: 10px;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}
#multistepform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#multistepform .action-button:hover, #multistepform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	float: left;
	position: relative;
}
ul.freesteps li {
       width: 33.33%;
}
ul.foursteps li {
        width: 25%;
}
ul.fivesteps li {
        width: 20%;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: $progressBarActiveBgColor;
	color: $progressBarActiveColor;
}

.desc {
   font-weight: normal;
   font-size: smaller;
}
#fvresult {
    background: $container-background-gradient-1;
    @include filter-gradient($container-background-gradient-1, $container-background-gradient-2, vertical);
    @include background-image(linear-gradient($container-background-gradient-1, $container-background-gradient-2));


}
ul.zebralist {
  li {
     display:block;
     clear: both;
  }

   li:nth-child(odd) {
      background-color: $list-odd-bgcolor;
      }
}

div.uploadresult {
   padding: 5px;
   font-weight: bold;

}
#unsignlogosbtn {

  display: none;
}
div.help {
  max-width: 600px; 
  padding: 15px;
  background-color: lighten(#444,60);
  border: 1px solid lighten(#444,50);
  ol,li {
   padding: 0px;
   list-style-type:decimal;
   list-style-position: inside;
   background-color: transparent;
   border: 0px;
   margin: 0px;
  }

}

div.zebramembers > div {
   padding: 1px;
   padding-bottom: 2px;
   margin-left: 5px;

}

div.zebramembers > div:hover {

   background-color: $divhovermemberslist;
   color: $divhovermemberslistfont;
   a, a:link, a:visited {
      color: $divhovermemberslistfont;

   } 

}
ol.group {
     background-color: $formElementBackground;
     padding: 2px;
     li {
        margin-top: 5px;
        margin-bottom: 5px;
     }


}
