application/libraries/Zend
application/libraries/Zend/*
application/libraries/Doctrine
application/libraries/Doctine/*
application/libraries/geshi
application/libraries/geshi/*
application/libraries/third_party/*
application/helpers/custom_helper.php
application/logs/*
application/cache/*
application/models/Proxies/*
application/config/config.php
application/config/config_rr.php
application/config/database.php
application/config/email.php
application/config/memcached.php
application/controllers/c/*.php
application/vendor/*
application/extplugins/*
jaggertheme/node_modules/*
jaggertheme/bower_components/*
logos/*
vendor/*
!index.html
index.php
