application/libraries/Zend
application/libraries/Zend/*

application/libraries/Doctrine
application/libraries/Doctine/*

application/libraries/logs/*
application/cache/*

application/models/Proxies/*

application/config/config.php
application/config/config_rr.php
application/config/database.php

index.php
logos/*
