$images : "../images";
#nav {
    margin: 0;
    padding: 5px 4px 0;
    background: #7d7d7d url(../images/gradient.png) repeat-x 0 -110px;
    line-height: 100%;
    border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0 ;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
    z-index: 2;

  li {
    margin: 0 1px;
    padding: 0 0 8px;
    float: left;
    position: relative;
    list-style: none;
    z-index:2;
  }
  a {
    font-weight: bold;
    color: #e7e5e5;
    text-decoration: none;
    display: block;
    padding:  8px 10px;
    margin: 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    text-shadow: 0 1px 1px rgba(0,0,0, .3);

  }
  a:hover {
    background: #000;
    color: #fff;
  }
  .current a,li:hover > a {
    background: #666 url(../images/gradient.png) repeat-x 0 -40px;
    color: #444;
    border-top: solid 1px #f8f8f8;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
    box-shadow: 0 1px 1px rgba(0,0,0, .2);
    text-shadow: 0 1px 0 rgba(255,255,255, 1);
  }
  ul li:hover a,  li:hover li a {
    background: none;
    border: none;
    color: #666;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  ul a:hover {
    background: #0078ff url(../images/gradient.png) repeat-x 0 -100px !important;
    color: #fff !important;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;

    text-shadow: 0 1px 1px rgba(0,0,0, .1);
  }

  li:hover > ul {
    display: block;
  }
  ul {
    display: none;

    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    top: 35px;
    left: 0;
    background: #ddd url(../images/gradient.png) repeat-x 0 0;
    border: solid 1px #b4b4b4;

    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
    box-shadow: 0 1px 3px rgba(0,0,0, .3);
  }
  ul li {
    float: none;
    margin: 0;
    padding: 0;
  }

  ul a {
    font-weight: normal;
    text-shadow: 0 1px 0 #fff;
  }
  ul ul {
    left: 181px;
    top: -3px;
  }
  ul li:first-child > a {
    -webkit-border-top-left-radius: 1px;
    -moz-border-radius-topleft: 1px;

    -webkit-border-top-right-radius: 1px;
    -moz-border-radius-topright: 1px;
  }
  ul li:last-child > a {
    -webkit-border-bottom-left-radius: 1px;
    -moz-border-radius-bottomleft: 1px;

    -webkit-border-bottom-right-radius: 1px;
    -moz-border-radius-bottomright: 1px;
  }
  :after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

    display: inline-block;
    height: 1%;


}
