table.tablesorter {
   background-color: #3F92D2;
   text-align: left;
   

   thead tr th, tfoot tr th {
        background-color: #e6EEEE;
    //    border: 1px solid #FFF;
       // font-size: 0.8em;
       font-size: bold;
        
   }
   thead tr .header {
        background-image: url(ascdesc.gif);
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
   }
   tbody td {
        color: #2B2B2B;
         padding: 4px;
         background-color: #FFF;
        vertical-align: top;
        white-space: normal; 
        
   }
   tr.odd td {
       background-color:#CBD9E0;
   }
}
table#details {
   width: 100%;
   
   span.additions{
       size: 0.5em;
       display:block;
       text-align: right;
   }
   caption {
       text-align: center;
	padding: .4em 1em;
       /*
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 0px solid #fff;
       */
	margin-bottom: 1px;
	background: #384063;
	font-weight: bolder;
	font-size: 1.3em;
	color: #ECECEC;
   }
   tr>:first-child {
       white-space:nowrap;
   }
   th,td {
       border:1px solid #000;
       border-color: $blueprint-border-color ;
       border-collapse:collapse;
       padding:5px;
       text-align: left;
       


   }
   td.highlight {
      background-color: #394C5F;
      color: $tr-highlight-color;
      font-size: 1.3em;
      font-weight: bolder;
      text-align: left;
   //   padding-left: 15px;
   }
   tr:nth-of-type(odd) {
      background-color: $tr-odd-back-color;
   }
   tr:nth-of-type(even) {
      background-color: $tr-even-back-color;
   }
   td>lo>li {
      padding-top: 3px;
      list-style: none;
      font-size:larger;
   }
   td.homeorg:before {
    content:url(../images/icons/home.png);
}
   tr:hover {
      background-color: #D6E5F4;
   }
}
tbody.attr_supported td{
    background-color: lighten($supported-back-color,50%);
}
