
$foundation-palette: (
        primary: #008CBA,
        secondary: #e7e7e7,
        success: #43AC6A,
        warning:  #f08a20,
        alert: #f04124,
        info: #a0d3e8,
);
$topbar-background: #333333;
$footer-background: #042A38;
$tab-background: #074E68;
$tab-background-second-level: lighten($tab-background, 10%);