
$foundation-palette: (
        primary: lighten(#1E4D2B, 5%),
        secondary: #59595b,
        success: #43AC6A,
        warning:  #ecc530,
        alert: #cc5430,
        info: #a0d3e8,
);
$topbar-background: #143828;
$footer-background: #1E4D2B;
$tab-background:#1E4D2B;
$tab-background-second-level: lighten($tab-background, 10%);