
// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";


// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";


// Import the non-default scaffolding module.
//@import "blueprint/scaffolding";
@import "partials/header";
@import "compass/typography/lists/horizontal-list";

@import "blueprint/liquid";
@import "blueprint/fancy-type";
@import "blueprint/buttons";
@import "blueprint/form";
@import "compass/layout/sticky-footer";
@import "compass/layout/stretching";
@import "partials/forms";

@import "compass/css3";
@import "compass/css3/inline-block";
@import "partials/buttons";
@import "partials/tables";


// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.


// Page layout can be done using mixins applied to your semantic classes and IDs:


body {
    @include blueprint-liquid-grid;
    @include blueprint-typography(true);
    @include fancy-type;
    @include blueprint-utilities;
    @include blueprint-debug;
    @include blueprint-interaction;
    @include blueprint-form;
    @include blueprint-form-borders;
        @media screen and (max-width: 480px) {
          width: 480px;
        } 
    
    
    background-image: url("../images/fm_page_bg.png");
    background-repeat: repeat-x; 
    code,pre {
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap !important ;
        white-space: -pre-wrap;
        white-space: o-pre-wrap;
        word-wrap: break-word;
        width: 90%;
        max-width: 800px;
        @media screen and (max-width: 480px) {
            max-width: 300px;
        } 
    }
    
    #header,#footer {
        // @include column($blueprint-grid-columns);
        
        // background-color: grey;
    }
    
    #header {
        // background-color: red;
    }
    .provider-logo {
        position: relative;
        max-height: 100px;
        width: auto;
    }
    .provider-logo span {
	width: 20px;
        height: 18px;
        position: absulute;
        top: -12px;
        left: 90px;
        background: url(../images/icons/document-binary.png) no-repeat;
    }
    
    #footer {
        text-align: center;
        width: 100%;
        color:#000;
        font-size: 1.2em;
        font-weight: bold;
    }
    #container {
        @include container;
        @media screen and (-webkit-device-pixel-ratio:0.75) {
    #      background-color: red;
        } 
        @media screen and (max-width: 480px) {
     #     background-color: red;
     #     width: 470px;
        } 
  } 
   #wrapper
   {
      @media screen and (max-width: 480px) {
         margin:0px;
         padding:0px;
      }
   }
    
    #content #subtitle {
         margin-top: 10px;
         margin-left: 20%;
         font-family:"Times New Roman",Georgia,Serif;
         font-size: 1.5em;
        @media screen and (max-width: 480px) {
          margin-left: 2px;
        } 
        
    }
    #content #responsecontainer {
        margin-top: 10px;
        padding: 10px;
	text-align: center;
        @media screen and (max-width: 480px) {
          padding: 2px;
        } 
   }
    
    
    
    
    // .block		{overflow: hidden;}
    //body.two-col {
    //  #container {
    //    @include container; }
    //  #header, #footer {
    //    @include column($blueprint-grid-columns); }
    //  #sidebar {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    //$sidebar-columns: floor($blueprint-grid-columns / 3);
    //    @include column($sidebar-columns); }
    //  #content {
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    //    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    // true means it's the last column in the row
    //    @include column($content-columns, true); } }
    .accordionButton {
        cursor: pointer;
        color: black;
        a {
            color: black;
        }
    }
    .xml .de1, .xml .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:grey; vertical-align:top;}
    .xml  {font-family:monospace;}
    .xml .imp {font-weight: bold; color: red;}
    .xml li, .xml .li1 {font-weight: normal; vertical-align:top;}
    .xml .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
    .xml .li2 {font-weight: bold; vertical-align:top;}
    .xml .es0 {color: #000099; font-weight: bold;}
    .xml .br0 {color: #66cc66;}
    .xml .sy0 {color: #66cc66;}
    .xml .st0 {color: #ff0000;}
    .xml .nu0 {color: #cc66cc;}
    .xml .sc-1 {color: #808080; font-style: italic;}
    .xml .sc0 {color: #00bbdd;}
    .xml .sc1 {color: #ddbb00;}
    .xml .sc2 {color: #339933;}
    .xml .sc3 {color: #009900;}
    .xml .re0 {color: #000066;}
    .xml .re1 {color: #7f0055;; font-weight: bold;}
    .xml .re2 {color: #000000; font-weight: bold;}
    .xml .ln-xtra, .xml li.ln-xtra, .xml div.ln-xtra {background-color: #ffc;}
    .xml span.xtra { display:block; }

    span.loggedin {
//	position: absolute;
	right: 50px;
	top: 10px;
        list-style-type: none;
        float: right;
    }
    
}
span.homeorg:before {
    content:url(../images/icons/home.png);
}
td.homeorg:before {
    content:url(../images/icons/home.png);
}
span.on:before {
    content:url(../images/icons/control-270.png);
    margin-right: 7px;
}
span.off:before {
    content:url(../images/icons/control.png);
    margin-right: 7px;
}
tr.off td:first-child:before {

    content:url(../images/icons/control.png);
    margin-right: 7px;

}
tr.on td:first-child:before {

    content:url(../images/icons/control-270.png);
    margin-right: 7px;

}
#divmenu {
    clear: both;
    margin-top: 8px;
    width: 820px;
    text-align: left;
    margin-left: auto; 
    margin-right: auto;
    @media screen and (max-width: 480px) {
         width: 470px;
     }
}
#logo {
   vertical-align: top;
   @media screen and (max-width: 480px) {
          width: 400px;
          clear: both;
   } 
   img {
    @media screen and (max-width: 480px) {
       max-width: 400px;
       max-height: 100px;
    }

   }

}
#matrixtable {
   table {
       border: 2px solid black;
   }
   td {
       border: 1px solid grey;
   }
   td.den {
	background-color: #FF0000;
        text-transform:uppercase;
        font-weight: bold;
   }
   td.perm {
        background-color: #00FF00;
        text-transform:uppercase;
        font-weight: bold;
   }

   td.dis {
        background-color: #E3E5FF;
        text-transform:uppercase;
        font-weight: bold;
   }
   td.spec {
        background-color: #FFFF00;
        text-transform: uppercase;
        font-weight: bold;
   }


}
div.floating-menu {
   
   position:fixed;
   background:#fff4c8;
   border:1px solid #ffcc00;
   width:130px;
   left: 4px;
   z-index:100;
   span {
      cursor: pointer;
   }
   hr {
      color: #ffcc00;
   }
}
div.floating-menu a, div.floating-menu h3 {
   display:block;
   margin:0 0.5em;
}
a > span.inqueue {
   color: red;
   vertical-align: top;
   font-size: x-small;
   font-weight: bolder;
}
div.perm {
  background-color: #00FF00;
  text-transform: uppercase;
  font-weight: bold;
}
div.dis {
  background-color: #E3E5FF;
  text-transform: uppercase;
  font-weight: bold;
}
div.spec {
  background-color: #FFFF00;
  text-transform: uppercase;
  font-weight: bold;
}
div.den {
  background-color: red;
  text-transform: uppercase;
  font-weight: bold;
}

#idpmatrix th {
  border-left: 1px gray solid;
  border-bottom: 1px gray solid;
  border-top: 1px gray solid;
}
#idpmatrix tr th:last-child {
  border-right: 1px gray solid;
}
#idpmatrix td {
 padding: 0px;
 text-align: center;
 border-left: 1px gray solid;
 border-bottom: 1px gray solid;
 
}
#idpmatrix td:first-child {
  text-align: left;
  padding-left: 5px;
 }
#idpmatrix td:last-child {
  border-right: 1px gray solid;
}
#langicons{
  float: right;
  margin-right: 5px;
}
.langset img {
  width: 20px;
  
}
div.dashboard {
    text-align: center;
    ul {
       list-style-type: none;        
       text-align: left;
       margin-left: 10px;
    }
    #idps,#sps,#feds {
      background-color: $tr-odd-back-color;
      min-height: 200px;
      h3 {
           padding: 5px;
           background-color: darken($tr-odd-back-color,10%);

       }
   }
}
div.dashboardtitle {
  text-align: center; 
  background-color:  #384063 ;
  padding: 10px;
  h3 {
    color: white;
  }
}

@include sticky-footer(50px, "#oko","#inpre_footer","#footer");


