@if variable-exists(j-side-icon-bg) {
  $final-side-icon-bg: $j-side-icon-bg;
}
@else {
  $final-side-icon-bg-final: $primary-color;
}

@if variable-exists(j-side-icon-font-color) {
  $final-side-icon-font-color: $j-side-icon-font-color;
}
@else {
  $final-side-icon-font-color: white;
}


@if variable-exists(jagger-selected-bgcolor)
{
    $final-jagger-selected-bgcolor: $jagger-selected-bgcolor;
}
@else
{
    $final-jagger-selected-bgcolor: #5897fb;
}

@if variable-exists(jagger-selected-color)
{
    $final-jagger-selected-color: $jagger-selected-color;
}
@else
{
    $final-jagger-selected-color: #fff;
}


// SELECT2 PART

.select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: rem-calc(28px);

  user-select: none;
  -webkit-user-select: none;

  .select2-selection__rendered {
    display: block;
    padding-left: rem-calc(8px);
    padding-right: rem-calc(20px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

&[dir="rtl"] {
  .select2-selection--single {
    .select2-selection__rendered {
      padding-right: rem-calc(8px);
      padding-left: rem-calc(20px);
    }
  }
}


.select2-selection--multiple {
  box-sizing: border-box;

  cursor: pointer;
  display: block;

  min-height: rem-calc(32px);

  user-select: none;
  -webkit-user-select: none;

  .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: rem-calc(8px);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.select2-search--inline {
  float: left;

  .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: rem-calc(5px);

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
}



.select2-selection--multiple {
  box-sizing: border-box;

  cursor: pointer;
  display: block;

  min-height: rem-calc(32px);

  user-select: none;
  -webkit-user-select: none;

  .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: rem-calc(8px);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.select2-search--inline {
  float: left;

  .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: rem-calc(5px);

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
}




.select2-dropdown {
  background-color: white;

  border: 1px solid #aaa;
  border-radius: rem-calc(4px);

  box-sizing: border-box;

  display: block;

  position: absolute;
  left: -100000px;

  width: 100%;

  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: rem-calc(6px);

  user-select: none;
  -webkit-user-select: none;

  &[aria-selected] {
    cursor: pointer;
  }
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: rem-calc(4px);

  .select2-search__field {
    padding: rem-calc(4px);
    width: 100%;
    box-sizing: border-box;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }

  &.select2-search--hide {
    display: none;
  }
}

.select2-container {
  box-sizing: border-box;

  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;

}


.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;

  // styles required for IE to work

  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: rem-calc(1px);
  margin: rem-calc(-1px);
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: rem-calc(1px);
}

////////////////////////////

.select2-selection--single {
  background-color: #fff;
  border: rem-calc(1px) solid #aaa;
  //border-radius: rem-calc(4px);

  .select2-selection__rendered {
    color: #444;
    line-height: rem-calc(28px);
  }

  .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
  }

  .select2-selection__placeholder {
    color: #999;
  }

  .select2-selection__arrow {
    height: rem-calc(26px);

    position: absolute;

    top: rem-calc(1px);
    right: rem-calc(1px);

    width: rem-calc(20px);

    b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: rem-calc(5px) rem-calc(4px) rem-calc(0) rem-calc(4px);

      height: 0;
      left: 50%;

      margin-left: rem-calc(-4px);
      margin-top: rem-calc(-2px);

      position: absolute;

      top: 50%;
      width: 0;
    }
  }
}

&[dir="rtl"] {
  .select2-selection--single {
    .select2-selection__clear {
      float: left;
    }

    .select2-selection__arrow {
      left: rem-calc(1px);
      right: auto;
    }
  }
}

&.select2-container--disabled {
  .select2-selection--single {
    background-color: #eee;
    cursor: default;

    .select2-selection__clear {
      display: none;
    }
  }
}

&.select2-container--open {
  .select2-selection--single {
    .select2-selection__arrow {
      b {
        border-color: transparent transparent #888 transparent;
        border-width: rem-calc(0px) rem-calc(4px) rem-calc(5px) rem-calc(4px);
      }
    }
  }
}


/// multiple

.select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  //border-radius: 4px;
  cursor: text;

  .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 rem-calc(5px);
    width: 100%;
  }

  .select2-selection__placeholder {
    color: #999;

    margin-top: rem-calc(5px);

    float: left;
  }

  .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: rem-calc(5px);
    margin-right: rem-calc(10px);
  }

  .select2-selection__choice {
    background-color: #e4e4e4;

    border: 1px solid #aaa;
    //border-radius: 4px;
    cursor: default;

    float: left;

    margin-right: rem-calc(5px);
    margin-top: rem-calc(5px);
    padding: 0 rem-calc(5px);
  }

  .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;

    display: inline-block;
    font-weight: bold;

    margin-right: rem-calc(2px);

    &:hover {
      color: #333;
    }
  }
}

&[dir="rtl"] {
  .select2-selection--multiple {
    .select2-selection__choice, .select2-selection__placeholder {
      float: right;
    }

    .select2-selection__choice {
      margin-left: rem-calc(5px);
      margin-right: auto;
    }

    .select2-selection__choice__remove {
      margin-left: rem-calc(2px);
      margin-right: auto;
    }
  }
}

&.select2-container--focus {
  .select2-selection--multiple {
    border: solid black rem-calc(1px);
    outline: 0;
  }
}

&.select2-container--disabled {
  .select2-selection--multiple {
    background-color: #eee;
    cursor: default;
  }

  .select2-selection__choice__remove {
    display: none;
  }
}


// layout

.select2-container--default {

  &.select2-container--open.select2-container--above {
    .select2-selection--single, .select2-selection--multiple {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &.select2-container--open.select2-container--below {
    .select2-selection--single, .select2-selection--multiple {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .select2-search--dropdown {
    .select2-search__field {
      border: 1px solid #aaa;
    }
  }

  .select2-search--inline {
    .select2-search__field {
      background: transparent;
      border: none;
      outline: 0;
    }
  }

  .select2-results > .select2-results__options {
    max-height: rem-calc(200px);
    overflow-y: auto;
  }

  .select2-results__option {
    &[role=group] {
      padding: 0;
    }

    &[aria-disabled=true] {
      color: #999;
    }

    &[aria-selected=true] {
      background-color: #ddd;
    }

    .select2-results__option {
      padding-left: rem-calc(1em);

      .select2-results__group {
        padding-left: 0;
      }

      .select2-results__option {
        margin-left: rem-calc(-1em);
        padding-left: rem-calc(2em);

        .select2-results__option {
          margin-left: rem-calc(-2em);
          padding-left: rem-calc(3em);

          .select2-results__option {
            margin-left: rem-calc(-3em);
            padding-left: rem-calc(4em);

            .select2-results__option {
              margin-left: rem-calc(-4em);
              padding-left: rem-calc(5em);

              .select2-results__option {
                margin-left: rem-calc(-5em);
                padding-left: rem-calc(6em);
              }
            }
          }
        }
      }
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: $final-jagger-selected-bgcolor;
    color: $final-jagger-selected-color;
  }

  .select2-results__group {
    cursor: default;
    display: block;
    padding: rem-calc(6px);
  }
}












////////////////////////////





#sideicons {
  position: fixed;
  z-index: 9999;
  right: 0px;
  top: 120px;
  a,button {
    @include button(
      // $padding - Used to build padding for buttons Default: $button-med or rem-calc(12)
     rem-calc(4),
      // Background color. We can set $bg:false for a transparent background. Default: $primary-color.
     $final-side-icon-bg-final,
      // If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
     $radius:1px,
      // We can set $full-width:true to remove side padding extend width. Default:false
    $full-width:false,
      // We can set $disabled:true to create a disabled transparent button. Default:false
    $disabled:false
      // $is-input - <input>s and <button>s take on strange padding. We added this to help fix that. Default:false

    );
    color: $final-side-icon-font-color;
    display: block;
    margin: rem-calc(1);
  }
  a.nobg {
    background-color: transparent !important;
  }
  a.active {

    background-color: darken($final-side-icon-bg-final,20);
  }
}
#map-search {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }
#map-search:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }


.tabs-content {
  min-height: 300px;
}



table#details th.header.headerSortDown:before {
content: "\25BE\00a0\00a0";
}
table#details th.header.headerSortUp:before {
content: "\25B4\00a0\00a0";
}

table#details th.header:before {
//content: "\25B4\25BE\00a0\00a0";
}
table#details th {
white-space: nowrap;

}


.section , .groupradiosection{

   font-size: bigger;
   font-weight: bold;
   padding: 1px;
   margin-top: 2px;
   margin-bottom: 2px;

}
.certdata {

  font-size: smaller; 
}

.policymembers, .ecmembers {

  cursor:pointer;
}
i.largeicon {
  font-size: 1.5rem;
}
#return-to-top{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
    width: 2rem;
    height: 2rem;
    display: block;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.6);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

[data-jagger-entidlink]{
  cursor:pointer;
}


$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #d50f25;
$fedlogin-color: $primary-color;
$icon-size: 2rem;


.split.button {
  &.fedlogin {
    background: $fedlogin-color;
    span {
      background: darken($fedlogin-color, 10% );
      &:after { 
        border: none;
        font-family: "foundation-icons";
        content: "";
        font-size: $icon-size;
        line-height: 0.25rem;
        margin-left: -0.7rem;
      }
    }
  }
  &.google {
    background: $google-color;
    span {
      background: darken($google-color, 10% );
      &:after { 
        border: none;
        font-family: "foundation-icons";
        content: "\f1ca";
        font-size: $icon-size;
        line-height: 0.25rem;
        margin-left: -0.7rem;
      }
    }
  }
  &.left-icon {
    text-align: right;
    span {
      left: 0;
    }
  }
}
