@if variable-exists(j-side-icon-bg) {
  $final-side-icon-bg: $j-side-icon-bg;
}
@else {
  $final-side-icon-bg-final: $primary-color;
}

@if variable-exists(j-side-icon-font-color) {
  $final-side-icon-font-color: $j-side-icon-font-color;
}
@else {
  $final-side-icon-font-color: white;
}



#sideicons {
  position: fixed;
  z-index: 9999;
  right: 0px;
  top: 120px;
  a,button {
    @include button(
      // $padding - Used to build padding for buttons Default: $button-med or rem-calc(12)
     rem-calc(4),
      // Background color. We can set $bg:false for a transparent background. Default: $primary-color.
     $final-side-icon-bg-final,
      // If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
     $radius:1px,
      // We can set $full-width:true to remove side padding extend width. Default:false
    $full-width:false,
      // We can set $disabled:true to create a disabled transparent button. Default:false
    $disabled:false
      // $is-input - <input>s and <button>s take on strange padding. We added this to help fix that. Default:false

    );
    color: $final-side-icon-font-color;
    display: block;
    margin: rem-calc(1);
  }
  a.nobg {
    background-color: transparent !important;
  }
  a.active {

    background-color: darken($final-side-icon-bg-final,20);
  }
}
#map-search {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }
#map-search:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }


.tabs-content {
  min-height: 300px;
}



table#details th.header.headerSortDown:before {
content: "\25BE\00a0\00a0";
}
table#details th.header.headerSortUp:before {
content: "\25B4\00a0\00a0";
}

table#details th.header:before {
//content: "\25B4\25BE\00a0\00a0";
}
table#details th {
white-space: nowrap;

}


.section , .groupradiosection{

   font-size: bigger;
   font-weight: bold;
   padding: 1px;
   margin-top: 2px;
   margin-bottom: 2px;

}
.certdata {

  font-size: smaller; 
}
